
.disc{
    background-color: white;
}
.field{

    width: 35%;
height: 100%;

}
.marginn{
    margin:auto;
}
#body{
    background-color: #b6d7a8;
}
.container-fluid {
    background-color: #548158;

}

.textcolor{
    background-color: #8ce58c;
}