.nav li{
    background-color: #b5d6b8;
    display:inline;
    float:left;
}
.mav a{
    display:block;
    padding:10px;
}
#body{
    background-color: #b6d7a8;
}

.active{
    background-color:darkgreen;
}
.card{
    margin:5px;
}
#c4{
    border:2px solid darkgreen;
    border-radius:25px;
}
#ttt{
    border:2px solid darkgreen;
    border-radius:25px;
}
#rps{
    border:2px solid darkgreen;
    border-radius:25px;
}

