body {
    background-color: #b6d7a8;
    font-family:"Arial";
}
#rules{
  margin-left:50px;
    margin-right:50px;
    background-color: #8ce58c;
    font-size: 30px;
    border-radius:25px;
    border:2px solid black;
}

.container-fluid {
    background-color: #548158;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 75px;
    text-align: center;
}
