body {
    background-color: #b6d7a8;
}
#rules{
    margin-top:55px;
    margin-left:50px;
    margin-right:50px;
    background-color: #8ce58c;
    font-size: 30px;
    border-radius:25px;
    border:2px solid black;
    padding:10px;
}

.container-fluid {
    background-color: #548158;
    padding-top: 10px;
    text-align: center;

}
#play{
    text-align:center;
}
.nav li{
    background-color:#b5d6b8;
    display:inline;
    float:left;
}
.nav a{
    display:block;
    padding:10px;
}
.active{
    background-color:darkgreen;
    margin-right:75%;
}
#pic{
    border:2px solid darkgreen;
    margin-right:100px;
    margin-left:100px;
    margin-top:80px;
    border-radius:10px;
}
#head{
    margin-top:100px;
}